/* app css stylesheet */

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  margin: 2em;
}

.lit {
    color: gold;
}

.countryTitleContainer {
    vertical-align: middle;
    min-width: 200px;
    max-width: 80%;
}

.countryTitle {
    display: inline-block;
    width: 38%;
    padding: 10px;
    padding-bottom: 16px;
    word-wrap: normal;
    background-color: darkcyan;
    color: aliceblue;
    text-align: center;
    font-size: 40px;
}

.countryDescription {
    display: inline-block;
    width: 58%;
    padding-top: 26px;
    padding-bottom: 20px;
    padding-left: 10px;
    word-wrap: normal;
    background-color: white;
    color: #000033;
    text-align: left;
    font-size: 20px;
    border: 2px solid black;
    border-left-style: hidden;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -10px;
}

.star:hover {
    cursor: pointer;
}

.moreless {
    display: inline-block;
    float: right;
}

.moreless:hover {
    cursor: pointer;
}

.details {
    display: inline-block;
}